@import url("https://fonts.googleapis.com/css?family=Lato");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0 0 50px;
}

table {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.table-footer-pagination tr td{
  font-weight: bold;
}